<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册界面</title>
		<link rel="stylesheet" type="text/css" href="common.css" />
		<link rel="stylesheet" type="text/css" href="css/login.css" />
		<script src="ajax.js"></script>
		<script>
			window.onload=function(){
				var o_user = document.getElementById("username");
				var o_pass = document.getElementById("password");
				var o_pass2 = document.getElementById("pass");
				var o_registBtn=document.getElementById("registBtn");
				o_registBtn.onclick=function(){
					if(o_user.value == '') {
						alert("请输入用户名!");
					} else if(o_pass.value == '') {
						alert("请输入密码!");
					} else if(o_pass2.value == '') {
						alert("请重复密码!");
					} else if(o_pass.value!=o_pass2.value){
						alert("两次输入密码不一致!");
					} else{
						window.location.href=document.URL+'reigst?act=regist&username='+o_user.value+'&password='+o_pass.value;
					}
				}
			}
		</script>
	</head>
	<body>
		<div class="wrap">
			<h1 class="title">开始登录</h1>
			<table border="1">
				<tr>
					<td>
						<label>用户名：</label>
					</td>
					<td>
						<input type="text" name="username" id="username" />
					</td>
				</tr>
				<tr>
					<td>
						<label>密码：</label>
					</td>
					<td>
						<input type="password" name="password" id="password" />
					</td>
				</tr>
				<tr>
					<td>
						<label>重复密码：</label>
					</td>
					<td>
						<input type="pass" name="pass" id="pass" />
					</td>
				</tr>
				<tr>
					<td class="loginRow" colspan="2">
						<button id="registBtn" class="loginBtn" href="javascript:">注册</button><a id="loginBtn" class="registBtn" href="/">返回登录</a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
